// Variables

$primary: #23374d;
$secondary: #131e2b;

// Mixins

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin resp($device) {
  @if $device == phone {
    @media (min-width: 320px) and (max-width: 414px) {
      @content;
    }
  }

  @if $device == tab-port {
    @media (min-width: 768px) and (max-width: 834px) {
      @content;
    }
  }

  @if $device == tab-land {
    @media (min-width: 1024px) and (max-width: 1112px) {
      @content;
    }
  }
}

// Base

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", monospace;

  @include resp(phone) {
    //overflow-x: hidden;
  }
}

body {
  background-color: $primary;
}

// Utility

.pb {
  padding-bottom: 3rem;
}

.pb-l {
  padding-bottom: 6rem;
}

.pt {
  padding-top: 3rem;
}

.space {
  margin-left: 27rem;
  margin-right: 27rem;
  text-align: center;
}

.thin {
  font-size: 1.3rem;
  font-weight: 300;
  opacity: 0.6;
  //border-bottom: 1px solid #000;
}

.nav-styled {
  box-shadow: 0 10px 15px #000;
}

.nav-basic {
  background-color: transparent;
}

.mb {
  margin-bottom: 18rem;

  @include resp(phone) {
    margin-bottom: 5em;
  }
}

.mb2 {
  margin-bottom: 15rem;
}

// Components

.title {
  display: inline-block;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 2px solid #000;
}

hr {
  visibility: hidden;
  margin-bottom: 5rem;
}

// Keyframes

@keyframes text-typing {
  0% {
    opacity: 1;
    width: 0ch;
  }

  100% {
    opacity: 1;
    width: 31ch;
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Navbar

nav {
  width: 100%;
  background-color: $primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: fixed;

  .logo {
    width: 65%;
    margin-left: 7rem;
    padding-left: 1rem;
    text-transform: uppercase;
    color: #fff;
    animation: fade 3s;
    border-left: 3px solid #fff;

    @include resp(phone) {
      display: none;
    }
  }

  .nav-list {
    width: 35%;
    margin-left: auto;
    padding-right: 1rem;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.2s;

    @include resp(phone) {
      width: 100%;
      justify-content: space-around;
      padding-left: 1em;
    }

    .nav-item {
      list-style: none;

      .nav-link {
        text-decoration: none;
        color: #fff;
        animation: fade 2.5s;
        padding: 0.2rem;

        @include resp(phone) {
          border-bottom: 1px solid #000;
        }

        &:hover {
          border-bottom: 3px solid #000;
        }
      }
    }
  }
}

// Heading

.heading {
  height: 100vh;
  background-color: $primary;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 15rem;

  @include resp(phone) {
    margin-bottom: 0;
  }

  h1 {
    opacity: 1;
    font-size: 2rem;
    @include center;
    animation: text-typing 5s steps(44);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #000;

    @include resp(phone) {
      font-size: 1em;
    }
  }

  .arrow {
    font-size: 4rem;
    animation: moveDown 1s infinite;
    animation-delay: 6s;

    @include resp(phone) {
      font-size: 2.3em;
    }
  }
}

// About

.about {
  &-text {
    display: flex;
    flex-direction: column-reverse;
  }

  @include resp(phone) {
    margin: 0;

    p {
      margin: 0 1.4em 0 1.4em;
      font-size: 1em;
    }
  }
}

// Skills

.skills {
  .my-skills {
    display: flex;

    @include resp(phone) {
      svg {
        height: 80%;
        width: 50%;
      }
    }
  }

  @include resp(phone) {
    margin: 0;

    p {
      margin: 0 1.4em 0 1.4em;
      font-size: 1em;
    }
  }
}

// Projects

.projects {
  a {
    color: #fff;
  }

  .container {
    display: flex;
    height: 55vh;
    justify-content: space-around;

    @include resp(phone) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 18em;
      margin-bottom: 27em;
    }

    .project {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 0 0 15em;
      background-color: $secondary;
      color: white;
      font-size: 2rem;
      text-align: center;
      padding: 3rem;
      box-shadow: 0 15px 20px #000;

      @include resp(phone) {
        font-size: 1em;
        margin-top: 5em;

        h5 {
          font-size: 1.5em;
        }
      }

      .btn-grid {
        width: 70%;
        font-size: 1rem;
        border-radius: 100px;
        padding: 1.5rem;
        color: #fff;
        border: 1px solid #fff;
        background-color: $secondary;
        transition: all 0.3s;

        &:hover {
          border: 1px solid $secondary;
          color: $secondary;
          background-color: #fff;
          box-shadow: 0 15px 20px #000;
          transform: translateY(-0.6rem);
        }

        &:active {
          transform: translateY(0);
          box-shadow: none;
        }
      }
    }
  }

  @include resp(phone) {
    margin: 0;

    p {
      margin: 0 1.4em 0 1.4em;
      font-size: 1em;
    }
  }
}

// Contact me

.contact {
  .social {
    display: flex;
    justify-content: center;

    button {
      background-color: transparent;
      border: none;
      margin: 1rem;
    }

    &-icon {
      height: 7rem;
      width: 7rem;
    }
  }

  @include resp(phone) {
    margin: 0;

    p {
      margin: 0 1.4em 0 1.4em;
      font-size: 1em;
    }
  }
}

// Footer

footer {
  //height: 10vh;

  h3 {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
  }
}
